{% for item in firewall_ipsets_static %}
{% if item.recreate|default(false) %}
destroy {{ item.name }}
{% endif %}
create {{ item.name }} {{ item.type }} {% if item.family is defined %}family {{ item.family }}{% endif %}

{% for part in item.content|default([]) %}
add {{ item.name }} {% if part.name is defined %}{{ part.name }}
{% elif part.subset is defined %}{{ part.subset }}{% else %}{{ part }}{% endif %}

{% endfor %}
{% endfor %}
