[Unit]
Description=Loading IP Sets
Before=network-pre.target iptables.service ip6tables.service
Wants=network-pre.target
ConditionPathExists={{ ipset_conf_path }}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ firewall_ipset_path }} -f "{{ ipset_conf_path }}" restore
ExecReload={{ firewall_ipset_path }} -f "{{ ipset_conf_path }}" restore
ExecStop={{ firewall_ipset_path }} destroy

[Install]
WantedBy=basic.target
