[Unit]
Description=IPv4 firewall with iptables
ConditionPathExists=/etc/sysconfig/iptables

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/iptables/iptables.init start
ExecReload=/usr/libexec/iptables/iptables.init reload
ExecStop=/usr/libexec/iptables/iptables.init stop
Environment=BOOTUP=serial
Environment=CONSOLETYPE=serial
Environment=IPTABLES_SAVE_ON_STOP=no
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
